body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Beyaz arka plan (şeffaflık) */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    color: #333;
}

button, a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover, a:hover {
    background-color: #0056b3;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}